* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
    font-size: 62.5%;
}

.body {
   background-color: bisque;
   padding: 5rem; 
}

.totalContainer{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    
}
.seriesContainer{
    display: flex;
    width: 15%;
}
.seriesFavorites{
    display: flex;
    width: 15%;
}

.title {
    font-size: 3rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.form {
    font-size: 5rem;
    margin-bottom: 2rem;
}

.input {
    width: 25rem; 
    height: 3rem;
}

.button  {
    width: 6rem; 
    height: 3rem;
    border-radius: 10%;
    border-style: none;
    background-color: deepskyblue;
    cursor: pointer;
}

.seriesList{
    font-size: 1.3rem;
}
.list {
    display: flex; 
}

.card {
    display:flex; 
    flex-direction: column;
}

.show {
    background-color: cadetblue;
    margin-bottom: 2rem;
    padding: 2rem;
    width: 100%;
    list-style: none;
    cursor: pointer;
    border-radius: 5%;
}

.titleFavorite {
    padding-left: 10rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 2rem;
}

.showTitle{
  text-align: center;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: 1rem;
}
.showImage {
    align-self: center;
}

.hidden {
    display: none; 
}

.favorite{
    background-color: lightcoral;
    margin-bottom: 2rem;
    width: 100%;
    list-style: none;
    color: white; 
    cursor: pointer;
    padding: 2rem;
    list-style: none;
    cursor: pointer;
    border-radius: 5%;
}

